@import "tailwindcss";

:root {
  /* --background: #a583bb;
  --foreground: #a583bb; */
  --background: #f2f2f2;
  --foreground: #f2f2f2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-bungee);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f2f2;
    --foreground: #f2f2f2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bungee), system-ui, sans-serif;
}
.logo-shine{
  position: relative;
  display:inline-block;

  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #e5e5e5 10%,
    #ffffff 13%,
    #050505 30%,
    #050505 40%,
    #050505 63%,
    #050505 100%
  );

  /* veća “slika” da sjaj može biti skroz van teksta */
  background-size: 420% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  text-shadow:
    0 0 3px rgba(255,255,255,0.1),
    0 0 8px rgba(255,255,255,0.1);

  animation: text-shine 8s cubic-bezier(.4,0,.2,1) infinite;
}

@keyframes text-shine{
  /* start: sjaj je skroz levo VAN teksta */
  0%   { background-position: 160% 50%; }

  /* prolaz: ide ka desno (pređe preko teksta i ode van) */
  35%  { background-position: -160% 50%; }

  /* pauza dok je van */
  100% { background-position: -160% 50%; }
}